<body class="static-pages-body">
  <div class="home-top-container">
    <div class="headline">
      <h1>{Arleigh and Trevor's}</h1>
      <h2 id="bottom">CULINARY ADVENTURES</h2>
    </div>
  </div>

  <div class="home-mid-container">
    <div class="navbar-styling">
      <%= link_to 'What\'s your tale, nightingale?', recipes_path %>
    </div>
  </div>
</body>
